<div class="navbar">
    <div class="navbar__header-profile">
        <a href="/">
            <h2>LOGO</h2>
        </a>
    </div>
    <div class="navbar_header-nav">
        <ul>
            <!-- Inicio -->
            {% if active_header == 0 %}
            <li class="header-nav__item active">
                <a href="/">
                    <i class="fa-solid fa-house"></i><div class="nav-item__title">Inicio</div>
                </a>
            </li>
            {% else %}
            <li class="header-nav__item">
                <a href="/">
                    <i class="fa-solid fa-house"></i><div class="nav-item__title">Inicio</div>
                </a>
            </li>
            {% endif %}

            <!-- Mi 11 inicial -->
            {% if active_header == 1 %}
            <li class="header-nav__item active">
                <a href="/">
                    <i class="fa-solid fa-people-group"></i><div class="nav-item__title">11 Incial</div>
                </a>
            </li>
            {% else %}
            <li class="header-nav__item">
                <a href="/">
                    <i class="fa-solid fa-people-group"></i><div class="nav-item__title">11 Incial</div>
                </a>
            </li>
            {% endif %}

            <!-- Mi Fantasy -->
            {% if active_header == 2 %}
            <li class="header-nav__item active">
                <a href="/">
                    <i class="fa-solid fa-people-group"></i><div class="nav-item__title">Mi Fantasy</div>
                </a>
            </li>
            {% else %}
            <li class="header-nav__item">
                <a href="/">
                    <i class="fa-solid fa-people-group"></i><div class="nav-item__title">Mi Fantasy</div>
                </a>
            </li>
            {% endif %}

            <!-- Clasificación -->
            {% if active_header == 3 %}
            <li class="header-nav__item active">
                <a href="/">
                    <i class="fa-solid fa-trophy"></i><div class="nav-item__title">Clasificación</div>
                </a>
            </li>
            {% else %}
            <li class="header-nav__item">
                <a href="/">
                    <i class="fa-solid fa-trophy"></i><div class="nav-item__title">Clasificación</div>
                </a>
            </li>
            {% endif %}

            <!-- Más -->
            {% if active_header == 3 %}
            <li class="header-nav__item active">
                <a href="/">
                    <i class="fa-solid fa-gear"></i><div class="nav-item__title">Más</div>
                </a>
            </li>
            {% else %}
            <li class="header-nav__item">
                <a href="/">
                    <i class="fa-solid fa-gear"></i><div class="nav-item__title">Más</div>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>


</div>




<!-- <a href="/">
    <h1>LOGO</h1>
</a>

<a href="{% url 'onboard_league' %}">
    <h3>ONBOARD</h3>
</a>

{% if request.user.is_authenticated %}
<p>Hola, {{request.user}}</p>
<a href="{% url 'logout' %}">Logout</a>
{% else %}
<a href="{% url 'login' %}">Login</a>
{% endif %}

<hr> -->