<h1>ADMIN PANEL</h1>

<div class="control-league-selector">
    <form method='POST' action="">
        {% csrf_token %}
        <input list="list_leagues" name="league">
        <datalist id="list_leagues">
            {% for league in leagues %}
            <option value={{league.id}}>{{league.name}}</option>
            {% endfor %}
        </datalist>
        <input type="submit" value="Submit">
    </form>
    <h2>{{league}}</h2>

    {% if league %}
    <h5>{{league.id}} -- <a href="{% url 'control_league' league.id %}">{{league.name}}</a></h5>
    {% endif %}
    
    
    
</div>
